@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin: 100px;
    margin-top: 0px;
    background-color: #080015;
    color: #EEF2F6;


}

h1,
h2 {
    color: #FFE613;
}

a {
    color: #FC0679;
    text-decoration: none;
}

.name {
    background-image: linear-gradient(342deg, rgba(255, 230, 19, 1) 0%, rgba(252, 6, 121, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.content-wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.content {
    max-width: 1200px;
}

.intro {
    display: flex;
    gap: 3rem;
    min-height: 100svh;
    justify-content: center;
    align-items: center;

}

.allcards {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.card {
    width: 500px;
    border-radius: 20px;
    background: radial-gradient(circle, rgba(28, 7, 83, 1) 65%, rgba(8, 9, 56, 1) 100%);
    overflow: hidden;

}

.card img {
    width: 100%;

}

.card .description {
    padding: 40px;
    font-size: 1.5rem;
}