
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html {
    overflow-x: hidden;
}


/*desktop*/
@media (min-width:1400px) {




    .intro-content {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
    

    }
    .intro-content{
        font-size: 3rem;
        font-weight: 400;
    }

    .hello h1 br {
        display:none;
        padding-bottom: 0;
    }
 h1 {
        margin-bottom: 0;
    }

    .about {
        margin: 10rem;
        max-width: 1400px
    }

    body {
        font-size: 1.5rem;
    }
    .intro-2{
        padding: 7rem;
        max-width: 1200px;
        

    }
    .allcards {
        display: flex;
        margin: 3rem;
        gap: 3rem;
        justify-content: center;
        flex-wrap: wrap;
        flex-basis:1500px;
        max-width: 1500px;

        max-height: 900px;

    }

    .content {
        margin: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .view-work-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border: 2px solid;
        border-radius: 10px;
        padding: 1rem 2rem;
        margin-top: 4rem;
        max-width: fit-content;
    }


    .card .description {
        padding: 3rem;
        font-size: 1.5rem;
    }

}

/*tablet*/
@media (max-width:1400px) and (min-width:950px) {


    .hello {
        align-self: flex-start;
        margin-bottom: 0;
    }
    .hello h1 {
        font-size: 4rem;
    }

    .hello h1 br {
        display:none;
        padding: 0;
    }

    body {
        font-size: 1.5rem;

    }

    .intro-2 {
        height: max-content;
        margin: 3rem;
        padding:3rem;
        max-width:800px;
        font-size: 2.6rem;
        font-weight: 400;

    }
    .intro-3 {
        margin: 0rem;
    
    }
    .intro p {
        margin-top: 0;
    }
    

    .allcards {
        display: flex;
        margin: 3rem;
        gap: 3rem;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        max-width: 800px;

    }

    .content {
        margin: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width:100vw;
    
    }

    .view-work-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border: 2px solid;
        border-radius: 10px;
        padding: 1rem 2rem;
        margin-top: 2rem;
    }

    .card .description {
        padding: 3rem;
        font-size: 1rem;
    }

}

/*mobile*/
@media (max-width:950px) {

    .intro {
        height: 100lvh;


    }
    .intro-3 {
        height: 100lvh;  
        display:flex;
        justify-content: center;
        align-items: center;
        margin:0;

    }
    h1{
        margin-bottom:0px;
    }

    .intro-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1rem;
        height: auto;
    }
    .intro-2 {
        display: flex;
        padding: 2rem;
        margin:2rem 2rem 0rem 2rem;
    }

    .intro-text p {
        margin: 0.5rem;
    }


    .hello {
        align-self: flex-end;
        padding-right: 1rem;
    }

    body {
        font-size: 1rem;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .view-work {
        font-size: 1.5rem;
    }

    .view-work-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        border: 2px solid;
        border-radius: 5px;
        padding: .5rem 1.5rem;
        margin: 1rem;


    }

    .card .description {
        font-size: 1.2rem;
        padding: 2rem;
    }

    .allcards {
        display: flex;
        gap: 1.2rem;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        max-width: 800px;

    }

    .content {
        margin: 0;
        display: flex;
        flex-direction: column;

        align-items: center;
    }
}

/*global*/


body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    width: 100vw;
    margin: 0px;
    margin-top: 0px;
    background-color: #080015;
    color: #EEF2F6;



}



.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 100
}


h1,
h2 {
    color: #FFE613;
}

a {
    color: #FC0679;
    text-decoration: none;
}

a:not(.view-work):hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
a .view-work-button {
    z-index:999;
    font-weight:400;
}


.name {
    background-image: linear-gradient(342deg, rgba(255, 230, 19, 1) 0%, rgba(252, 6, 121, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.html1 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #5A40FD;
}

.ell {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #006BEE
}

.html2 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #00ACE8;
}

.html3 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #4BFDBD;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 100vw;
    

}



.intro {
    
    display:flex;
    min-height: 100lvh;
    height: 100lvh;
    max-height: 100lvh;
    max-width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
.intro-3 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100lvh;
    z-index:999;

}
.star-wrapper {

    height: 100lvh;
    min-height: 100lvh;
    min-width:100vw;
    max-width:100vw;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    mask: linear-gradient(to bottom, 
    rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, 
    rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
) 100% 50% / 100% 100% repeat-x;
z-index: 1;
position:absolute;
top: 0;
right:0;
overflow:hidden;


}


.intro-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 0, 21, 0.7);
    border-radius: 30px;
    z-index: 999;

 

}


.intro-content {
    align-self: center;
    z-index: 999;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.up {
    color: #FC0679;
    border: 2px solid;
    border-radius: 50%;
    margin-top: 4rem;
    padding: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;


}
.about {
    min-height: 100lvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}


.portfolio {
    min-height: 100lvh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.intro-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hello {
    text-align: right;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 350px;
    border-radius: 10px;
    background: linear-gradient(342deg, rgba(27, 39, 53, 1) 0%, rgba(8, 0, 21, 1) 100%);
    border: 1px solid rgba(6, 4, 36, 1);
    overflow: hidden;
    flex-shrink: 1;
    max-height:max-content;
   


}

.card h3 {
    margin-top: 0px;

}

.card img {
    width: 100%;
    flex-shrink: 1;
    min-width: 0;
}

.description {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
}


.footer {
    background-color:#1b2735;
    padding:  4rem 0px;
    margin:0px;
    max-width: 100vw;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    left:0;


}